/******* ARTICLE **********/
article {
    text-align: left;
    max-width: 66%;
    min-height: 250px;
    background: white;
    margin: 0px 20px 10px 270px;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: #e7f1f8;
    font-size: 13px;
    overflow: hidden;
    padding: 1em;
    box-shadow: 3px 3px 3px #888888;
}

aside {
    float: right;
    background: white;
    margin: 0px 20px 10px 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: #e7f1f8;
    font-size: 13px;
    overflow: hidden;
    padding: 1em;
    box-shadow: 3px 3px 3px #888888;
}

/******* three column class **********/
article .image_col {
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    font-style: italic;
    font-size: smaller;
    border: thin #0D73BA solid;
    border-radius: 2px;
    padding: 5px;
}

article .col {
    width: 48%;
}

article .row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:1000px){
    article {
    	font-size: 11px;
    	margin: 0px 20px 10px 50px;
    	max-width: 88%;
    }
}
