article.cv {
    line-height: 24px;
    background: url(../Images/noise.jpg);
}

.clear {
    clear: both;
}

#page-wrap {
    width: 800px;
    margin: 40px auto 60px;
}

#pic {
    float: right;
    margin: 0px 20px 0 0;
    max-width: 25%;
}

h1.cv {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -2px;
    border-bottom: 1px solid #999;
}

h2.cv {
    font-size: 18px;
    margin: 0 0 6px 0;
    position: relative;
}

h2.cv span {
    position: absolute;
    bottom: 0;
    right: 0;
    font-style: italic;
    font-size: 15px;
    color: #999;
    font-weight:normal;
}

p.cv {
    padding-left: 10px;
    margin: 0 0 16px 0;
    font-size: 14px;
}

p.cv span {
    font-size: 11px;
    display: block;
    line-height: 1.2;
    padding-bottom: 4px;
}

a.cv {
    color: #999;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}

a.cv:hover {
    border-bottom-style: solid;
    color: black;
}

ul.cv {
    margin: 0;
}

ul.cv-symbols {
    margin-top: -13px;
    padding: 0px 0px 15px 0px;
    font-size: 25px;
    list-style-type: none;
}

li.cv-symbols {
    float: left;
    padding-left: 10px;
}

#objective {
    width: 550px;
    float: left;
}
#objective p {
    font-family: Georgia, Serif;
    font-style: italic;
    font-size: 15px;
    color: #666;
}

dt.cv {
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Trebuchet MS';
    letter-spacing: -1px;
    text-align: right;
    padding: 0 26px 0 0;
    width: 150px;
    float: left;
    height: 100px;
    border-right: 1px solid #999;
}

dd.cv {
    width: 72%;
    float: right;
}

dd.clear {
   float: none;
   margin: 0;
   height: 15px;
}

@media screen and (max-width: 1000px) {
    h1.cv {
    	font-size: 30px;
    }
    h2.cv {
    	font-size: 14px;
    }
    h2.cv span {
    	font-size: 19px;
    }
    #objective p {
    	font-size: 12px;
    }
    p.cv {
    	font-size: 12px;
    }
    p.cv span {
    	font-size: 10px;
    }
    dt.cv {
    	font-size: 18px;
    	width: 80px;
    }
    dd.cv {
    	width: 80%;
    	padding-right: 10px;
    }
}
