div.container{
    width: 100%;
    min-height: 100%;
    background:#e7f1f8;
    font-family: 'Libre Baskerville';
}

h1, h2, h3 {
    font-family: 'Trebuchet MS';
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

body {
    width: 100%;
    margin: 0px;
}

.2col {
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

img {
    image-orientation: from-image;
    padding-bottom: 5px;
}

figure {
  float: right;
  width: 21%;
  text-align: justify;
  font-style: italic;
  font-size: smaller;
  border: thin #0D73BA solid;
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
}

#thumbnail {
    padding: 5px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#thumbnail:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
