/******* HEADER **********/
header {
    background: #e7f1f8;
    color:white;
    text-align: center;
    clear: left;
    height: 18%;
    width: 100%;
    background-image:url("https://www.maths.tcd.ie/~jwinkelm/Images/Trinity.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans';
    padding-top: 15%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
/******* HEADER **********/

/******* FOOTER **********/
footer{
    background-color: #0D73BA;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
    text-align: left;
    font-family: Georgia, sans-serif;
    margin: 20px 0px 0px 0px;
}

footer .footer-left,
footer .footer-center,
footer .footer-right{
    display: inline-block;
    vertical-align: top;
    padding-bottom: 14px;
}

/* Footer left */
footer .footer-left{
    width: 40%;
    padding-left: 25px;
}

/* Footer links */
footer .footer-links{
    color:  #ffffff;
    margin: 20px 0 0px;
    padding: 0px 0px 0px 10px;
    font-size: 17px;
}

footer .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

/* Footer Center */
footer .footer-center{
    width: 35%;
    margin-top: 13px;
    margin-left: 20px;
}

footer .footer-center i{
    background-color: #012844;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

footer .footer-center i.fa-envelope{
    font-size: 16px;
    line-height: 38px;
}

footer .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:2px 0px 0px 0px;
}

footer .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:15px;
    line-height:1.3;
}

footer .footer-center p a{
    color:  #fff;
    text-decoration: none;;
}


/* Footer Right */
footer .footer-right{
    width: 20%;
    text-align: right;
    margin-left: -45px;
}

footer .footer-icons{
    margin-top: 20px;
}

footer .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #012844;
    border-radius: 2px;

    font-size: 23px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}
/******* FOOTER **********/

@media screen and (max-width: 1000px){
    header {
    	font-size: 40px;
    }

    footer .footer-left,
    footer .footer-center,
    footer .footer-right{
	display: block;
	width: 100%;
	margin: 0px 0px 10px 0px;
	text-align: center;
    }

    footer .footer-center i{
	margin-left: 0;
    }
}
