/*********** header nav bar ***********/
/*********** Big screen *********/
nav {
    background: #0D73BA;
    font-family: Trebuchet MS;
    font-size: 18px;
    margin-bottom: 15px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0px 0px 0px 180px;
    padding: 0px;
    overflow: auto;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #fff;
    padding: 10px 0px 10px 40px;
    text-align: center;
    text-decoration: none;
}

nav li a:hover{
    color: #e7f1f8;
}

/********* Small Screen **********/
nav.small {
    background: #0D73BA;
    font-family: Trebuchet MS;
    font-size: 18px;
    display: none;
}

nav.small ul {
    list-style-type: none;
    margin: 0px 0px 0px 180px;
    padding: 0px;
    overflow: hidden;
}

nav.small li {
    float: left;
}

nav.small li a {
    color: #fff;
    padding: 10px 0px 10px 40px;
    text-align: center;
    text-decoration: none;
}

nav.small li a:hover{
    color: #e7f1f8;
}

.dropdown {
    float: left;
    overflow: auto;
    padding: inherit;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: #fff;
    background-color: #0D73BA;
    font-family: inherit;
    font-size: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e7f1f8;
    font-family: inherit;
}

.dropdown-content a {
    float: none;
    color: #0D73BA;
    display: block;
    text-align: right;
    padding: 10px 20px 10px 20px;
    box-shadow: 2px 2px 2px 0px #0D73BA;
}

.dropdown-content a:hover {
    background-color: #0D73BA;
    color: #e7f1f8;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*********** Side nav bar ***********/
nav.side {
    background: white;
    font-family: Trebuchet MS;
    font-size: 18px;
    position: sticky;
    position: -webkit-sticky;
    top: 60px;
}

nav.side ul {
    background: white;
    list-style-type: none;
    margin: 0px 0px 0px 20px;
    padding: 0px;
    width: 230px;
    overflow: auto;
    position: absolute;
    height: 350px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #888888;
}

nav.side li {
    float: none;
}

nav.side li a {
    display: block;
    color: #0D73BA;
    padding: 8px 0px 0px 20px;
    text-align: left;
    text-decoration: none;
}

nav.side li:hover{
    background: #0D73BA;
}

nav.side li a:hover{
    color: white;
}

hr.navbar {
    height: 1px;
    width: 80%;
    color: #0D73BA;
    background-color: #0D73BA;
    border: none;
    margin: 4px 10px 0px 20px;
}

@media screen and (max-width:1000px){
    nav {
    	display: none;
    }
    nav.small {
    	display: block;
    	font-size: 30px;
    }
}
